p.thick{
    font-weight: bold;
}
div.headerborder{
    border-style: solid;
    border-color: #E8E8E8;
    border-width: thin;
    width: 320px;
    height: 100px;
    padding: 15px;
    margin: 0px;

}

div.infoborder{

    width: 250px;
    height: 30px;
    padding-top : 0px;
    padding-left: 15px;
    padding-right: 0px;
    padding-bottom: 10px;
    margin: -1px;
    
}

.font{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
}
h2.fonttxt{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    width:0px;
    margin:0px;
}
div.fonttxt{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: left;
    padding-top: 5px;
}
.fontsubtxt{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    text-align: left;
}
.img {
    float: left;
    padding-right: 4%;
    width: 20%;
    padding-bottom: 4%;

  }
.postionoftable{
    position: relative;
    top: 22.6%;
    left: 30%;
}
.postionofpeople{
    position: relative;
    top: 22.6%;
    left:2%;
}
input.textarea {
    left:100px;
    border-style: ridge;
    border-width:  thin;
    width: 230px;
}
.button {
    background-color: white;
    background-repeat:no-repeat;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-style: ridge;
    border-width:  thin;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    height: 0%;
      

}
.button:hover {
    background-color: #f2f2f2; /* Green */
    color: black;
  }